<!DOCTYPE html>
<html lang="cn"> 
<head>
    <meta charset="utf-8">
    <block name="title">
		<title>如何利用好暑假为下半年英语四六级考试做准备 - 简书</title>
    </block>
    <link rel="stylesheet" media="all" href="__PUBLIC__/Css/base-28859e35d389885d08837bc971ff742c.css" />
    <link rel="stylesheet" media="all" href="__PUBLIC__/Css/reading-note-cc35f3caf1b79498ea4800b856bcf8a6.css" />
    <link rel="stylesheet" media="all" href="__PUBLIC__/Css/base-read-mode-64acccf6966299cfa3d580140a2582fe.css" />
	<script src="__PUBLIC__/Scripts/jquery-1.8.3.min.js"></script>
	<script type="text/javascript">
	  $.noConflict();
	  // 使用另一个库的 $ 的代码
	</script>
    <script src="__PUBLIC__/Scripts/modernizr-613ea63b5aa2f0e2a1946e9c28c8eedb.js"></script>
</head>

<body class="post output zh cn reader-day-mode reader-font2" data-js-module="note-show" data-locale="zh-CN">
	<!--左边框内容-->
	<div class="navbar navbar-jianshu expanded">
		<div class="dropdown">
			<a class="active logo" role="button" data-original-title="个人主页" data-container="div.expanded" href="/">
				<b>简</b><i class="fa fa-home"></i>
				<span class="title">首页</span>
			</a>
			<a data-toggle="tooltip" data-placement="right" data-original-title="专题" data-container="div.expanded" href="{:U('Home/category/index')}">
				<i class="fa fa-th"></i>
				<span class="title">专题</span>
			</a>
			<a class="ad-selector" href="{:U('Home/Error/404')}">
				<i class="fa fa-mobile"></i>
				<span class="title">下载手机应用</span>
			</a>
			<div class="ad-container ">
				<div class="ad-pop">
					<img class="ad-logo" src="__PUBLIC__/Picture/114-8dae53b3bcea3f06bb139e329d1edab3.png" alt="114" />
					<p class="ad-title">简书</p>
					<p class="ad-subtitle">交流故事，沟通想法</p>
					<img class="ad-qrcode" src="__PUBLIC__/Picture/download-app-qrcode-053849fa25f9b44573ef8dd3c118a20f.png" alt="Download app qrcode" />
					<div>
						<a class="ad-link" href="https://itunes.apple.com/cn/app/jian-shu/id888237539?ls=1&amp;mt=8">iOS</a>·
						<a class="ad-link" href="http://downloads.jianshu.io/apps/haruki/JianShu-1.11.1.apk">Android</a>
					</div>
				</div> 
			</div>
		</div>
		<div class="nav-user">
			<a href='#view-mode-modal' data-toggle='modal'><i class="fa fa-font"></i><span class="title">显示模式</span></a>
			<a class="signin" data-signin-link="true" data-toggle="modal" data-placement="right" data-original-title="登录" data-container="div.expanded" href="{:U('Home/Login/index')}">
				<i class="fa fa-sign-in"></i><span class="title">登录</span>
			</a>
		</div>
	</div>

	<!--右下角悬浮内容-->
	<div class="fixed-btn">
		<a class="go-top hide-go-top" href="#"> <i class="fa fa-angle-up"></i></a>
		<a class="qrcode" data-target="#bottom-qrcode" data-toggle="modal" href="javascript:void(0)"><i class="fa fa-qrcode"></i></a>
		<a class="writer" href="/writer#/" data-toggle="tooltip" data-placement="left" title="写篇文章"><i class="fa fa-pencil"></i></a>
		<!-- qrcode modal -->
		<div id="bottom-qrcode" class="modal panel-modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
			<h4>下载简书移动应用</h4>
			<div class="panel-body">
				<img src="__PUBLIC__/Picture/download-app-qrcode-053849fa25f9b44573ef8dd3c118a20f.png" alt="Download app qrcode" />
			</div>
		</div>
	</div>


	<div id="show-note-container">
    
		<div class="post-bg" id="flag">
			<!--主体顶部内容-->
			<div class="wrap-btn">
				
				<!-- ******* -->
				<a class="login" data-signup-link="true" data-toggle="modal" href="{:U('Home/Signup/index')}">
					<i class="fa fa-user"></i> 注册
				</a>
				<a class="login" data-signin-link="true" data-toggle="modal" href="{:U('Home/Login/index')}">
					<i class="fa fa-sign-in"></i> 登录
				</a>
				<!-- Buttons upper right -->
				<!-- ******* -->
			</div>


			<!--文章主题相关内容-->
			<block name="main">
				这是文章的主体内容
			</block>

			<script src="__PUBLIC__/Scripts/base-ded41764c207f7ff545c28c670922d25.js"></script>
			<script src="__PUBLIC__/Scripts/reading-base-7fc5fa7c6a3993128e61499f23be276d.js"></script>
			<script src="__PUBLIC__/Scripts/note_show-1805bf39f59948b52870922039360dbb.js"></script>

		</div>
	</div>
</body>
</html>
