<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>添加文章</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/bootstrap-3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bjy.css">
    <link rel="stylesheet" href="__PUBLIC__/home/Css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/index.css">
</head>
<body>
<form class="form-group" action="{:U('Admin/User/insert')}" method="post">
    <table class="table table-bordered table-striped table-hover table-condensed">
        
        <tr>
            <th>用户名</th>
            <td>
                <input class="form-control modal-sm" type="text" name="uname">
            </td>
        </tr>
        <tr>
            <th>密码</th>
            <td>
                <input class="form-control modal-sm" type="text" name="pwd" >
            </td>
        </tr>
        <tr>
            <th>邮箱</th>
            <td>
                <input class="form-control modal-sm" type="text" name="email" >
            </td>
        </tr>
        <tr>
            <th>年龄</th>
            <td>
                <input class="form-control modal-sm" type="text" name="age" >
            </td>
        </tr>
        
        
        <tr>
            <th>性别</th>
            <td>
                <span class="inputword">男</span>
                <input class="icheck" type="radio" name="sex" value="1" checked="checked">
                &emsp;
                <span class="inputword">女</span>
                <input class="icheck" type="radio" name="sex" value="0">
            </td>
        </tr>
        
        
        <tr>
            <th></th>
            <td>
                <input class="btn btn-success" type="submit" value="添加">
            </td>
        </tr>
    </table>
</form>
    <script src="__PUBLIC__/js/jquery-2.0.0.min.js"></script>
    <script src="__PUBLIC__/admin/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/admin/bootstrap-3.3.5/js/pace.min.js"></script>
    <script src="__PUBLIC__/admin/bootstrap-3.3.5/js/index.js"></script>
    <script src="__PUBLIC__/admin/js/index.js"></script>
</body>
</html>
